.main-nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    color: #daf8e3;
    width: 50%;
    align-self: end;
    justify-content: end;
  }
  .nav-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
  }

  .burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
    align-content: end;

  }
  .main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
  }
  .main-nav.show .line2 {
    opacity: 0;
  }
  .main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
  }
  .main-nav.show .nav-links {
    transform: translateX(0%);
  }


body{
    height: 100%;
    padding: 10px;
    background-color: #181719;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    
}

html{
    height: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
}

.f{
    align-self: center;
    text-align: start;
    height: 80%;
}

.btn{
    height: 70%;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
    border: solid 1px;
    font-family: 'Crimson Pro';
    font-size: 14px;
    font-weight: 100;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}

.btn:hover{
    cursor: pointer;
    background-color:#ffffff;
    transition: transform 0.5s ease;
    transform: scale(1.1);
    color: #181719;
    border-color: #000000;
    
}



.nav-links{
    display: flex;
    justify-content: space-between;
    align-content: end;
    width: 100%;
    color: #FFFFFF;
}

.sec p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.a{
    color: #FFFFFF;
}



.main{
    position: relative;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    display: block;
    text-align: start;
    color: #FFFFFF;
    height: 100%;
}

.menu :nth-child(1){
    font-family: 'Crimson Pro', serif;
    font-family: 'Lora', serif;
    font-size: 3vw;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.menu :nth-child(2){
    font-size: 1.5vw;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #FFFFFF;
    width: 50%;
}

.menu :nth-child(3){
    font-family: 'Montserrat';
    font-weight: 700;
}   

.content{
    width: 100%;
    justify-content: center;
    height: 100%;
}

.content img{
    width: 100%;
    height: 100%;
}

footer {
    color: #FFFFFF;
    font-size: 14px;   
    text-align: center; 
    bottom: 0;    
    width: 100%;
    padding-top: 10%;
    flex-shrink: 0;
}


a{
    text-decoration: none;
    color: #FFFFFF; 
}

#owner, .owner1{
    color:#A9A9A9;
}
#owner:hover{
    color: #ffffff;
}

.card { 
    background: #181719;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px;
    border-bottom: solid 2.5px;
}

.card1{
    background-color: #868686;
    position: absolute;
    height: 40%;
    width: 25%;
    top: 70%;
    left: 70%;
    transform: translate(-70% -70%);
}

.head{
    display: flex;
    height: 72px;
    align-items: center;
}

.name{
    display: block;
    align-items: center;
}

.name :nth-child(1){
    font-family: 'Montserrat';
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.name :nth-child(2){
    color: #828282;
    margin: 0;
    font-size: 1vw;
}

.head img{
    padding-right: 15px;
    border-radius: 50%;
    width: 20%;
    height: 3.2vw;
}

.foot{
    width: 70%;
    align-items: start;
    text-align: start;
    color: #FFFFFF;
    font-size: 1.2vw;
    font-weight: 700;
}


.b:hover{
    font-weight: 700;
    text-decoration:underline;
    cursor: pointer;
    color: #ffffff;
    text-underline-offset: 0.5em;
}


@media only screen and (max-width: 800px){
    body{
        width: 100%;
    }
    .main{ 
        display: block;
    }

    .menu{
        width: 100%;
    }
    .menu :nth-child(1){
        font-size: 5vw;
        font-weight: 500;
    }
    
    .menu :nth-child(2){
        font-size: 2vw;
        width: 50%;
        line-height: 1.2em;
    }
    
    .menu :nth-child(3){
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;

    } 

    .foot{
        width: 70%;
    }


    .card { 
        background: #181719;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        padding: 15px;
        border-bottom: solid 2.5px;
        align-content: center ;
    }
    
    .card1{
        position: absolute;
        height: 20%;
        top: 80%;
        left: 20%;
        width: 60%;

    }
    
    .head{
        display: flex;
        height: 50%;
    }
    
    .name :nth-child(1){
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;

        color: #FFFFFF;
    }
    
    
    .name :nth-child(2){
        color: #828282;
        align-self: center;
    }
    
    .head img{
        padding-right: 15px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    .foot{
        width: 40%;
        align-items: start;
        text-align: start;
        color: #FFFFFF;
        font-size: 2.5vw;
        line-height: 15px;
    }
    .sec{
        display: none;
    }
    .burger {
        display: block;
      }
      .nav-links {
        border-radius: 25px;
        position:absolute;
        margin: 0 auto;
        right: 0;
        top: 8vh;
        left: 0;
        height: 92vh;
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #000000be;
        transform: translateX(110%);
        transition: transform 0.5s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
}


